<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="protocol" value="2"/>
    <add key="srcip" value="192.168.11.7"/>
    <add key="srcport" value="50010"/>
    <add key="dstip" value="192.168.11.18"/>
    <add key="dstport" value="50002"/>
    <add key="senddatapath" value="C:\work\02_external\pana\NonHousingCloudSystem\04_src\git\Pana-NHCS\Tool\ExtenalData\ctrl_aircon_1F_1_power_on.bin,C:\work\02_external\pana\NonHousingCloudSystem\04_src\git\Pana-NHCS\Tool\ExtenalData\ctrl_aircon_2F_1_power_on.bin,C:\work\02_external\pana\NonHousingCloudSystem\04_src\git\Pana-NHCS\Tool\ExtenalData\ctrl_aircon_2F_2_power_on.bin,C:\work\02_external\pana\NonHousingCloudSystem\04_src\git\Pana-NHCS\Tool\ExtenalData\ctrl_light_1F_1_on.bin,C:\work\02_external\pana\NonHousingCloudSystem\04_src\git\Pana-NHCS\Tool\ExtenalData\ctrl_light_2F_1_on.bin,C:\work\02_external\pana\NonHousingCloudSystem\04_src\git\Pana-NHCS\Tool\ExtenalData\ctrl_light_2F_2_on.bin"/>
  </appSettings>
</configuration>
